<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}粉絲團大亂鬥{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/csshake.min.css" rel="stylesheet">
    <style>
    #footer{
      width:100%;
      position:absolute;
      bottom:0;
      left:0;
    }
    #fb-li{
      padding-top: 6px;
    }
    </style>
    {% block headCSS %}
    {% endblock %}
  </head>
  <body class="homepage">

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="../img/logo.png" alt="logo"></a>
                </div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">首頁</a></li>
                        <li><a href="/fans/create">選取粉絲頁</a></li>
                        <li><a href="/fans/list">粉絲排行榜</a></li>
                        <li id="fb-li">
                          <fb:login-button id="login" scope="public_profile,email" onlogin="checkLoginState();" style="position: absolute;"></fb:login-button>
                          <div id="logout" class="fb-login-button" style="position: absolute;" data-auto-logout-link="true"></div>
                        </li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header>

    {% block contents %}
    {% endblock %}
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2014 <a target="_blank" href="http://Sleepsleepwash.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Sleepsleepwash</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <!-- <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    <div id="fb-root"></div>
  </body>
  <script src="/js/jquery-1.11.2.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.prettyPhoto.js"></script>
  <script src="/js/jquery.isotope.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/wow.min.js"></script>
  {% block headJS %}
  {% endblock %}

</html>
