{% extends "base.html" %}
{% block title %}登入頁面{% endblock %}
{% block headCSS %}
  <link rel="stylesheet" href="/css/isotope.css">
{% endblock %}
{% block contents %}
{#
  <div id="filters" class="button-group">
    <button class="button is-checked" data-filter="*">show all</button>
    <button class="button" data-filter=".metal">metal</button>
    <button class="button" data-filter=".transition">transition</button>
    <button class="button" data-filter=".alkali, .alkaline-earth">alkali and alkaline-earth</button>
    <button class="button" data-filter=":not(.transition)">not transition</button>
    <button class="button" data-filter=".metal:not(.transition)">metal but not transition</button>
    <button class="button" data-filter="numberGreaterThan50">number > 50</button>
    <button class="button" data-filter="ium">name ends with &ndash;ium</button>
  </div>
#}
<h2>粉絲頁排行</h2>
<div id="sorts" class="button-group">  
  <!-- <button class="button is-checked" data-sort-by="original-order">original order</button> -->
  <button class="btn" data-sort-by="name">名稱</button>
  <button class="btn" data-sort-by="number">按讚數</button>
  <button class="btn" data-sort-by="up">上升數</button>
</div>
<div class="isotope">
{% for x in userFansList %}
  <div class="element-item post-transition metal " data-category="post-transition">
    <p class="name">{{x.name}}</p>
    <a href="{{x.link}}">
      <img src="{{x.image}}" style="width:200px;height:200px;" />
    </a>
    <p class="number">{{x.likes}}</p>
    <p class="up">{{x.likes}}</p>
  </div>
{% endfor %}
</div>
{% endblock %}
{% block headJS %}
  <script src="http://isotope.metafizzy.co/isotope.pkgd.min.js"></script>
  <script>
    $( function() {
      // init Isotope
      var $container = $('.isotope').isotope({
        itemSelector: '.element-item',
        layoutMode: 'fitRows',
        getSortData: {
          name: '.name',
          symbol: '.symbol',
          number: '.number parseInt',
          category: '[data-category]',
          weight: function( itemElem ) {
            var weight = $( itemElem ).find('.weight').text();
            return parseFloat( weight.replace( /[\(\)]/g, '') );
          }
        }
      });

      // filter functions
      var filterFns = {
        // show if number is greater than 50
        numberGreaterThan50: function() {
          var number = $(this).find('.number').text();
          return parseInt( number, 10 ) > 50;
        },
        numberGreaterThan51: function() {
          var number1 = $(this).find('.up').text();
          return parseInt( number1, 10 ) > 50;
        },
        // show if name ends with -ium
        ium: function() {
          var name = $(this).find('.name').text();
          return name.match( /ium$/ );
        }
      };

      // bind filter button click
      $('#filters').on( 'click', 'button', function() {
        var filterValue = $( this ).attr('data-filter');
        // use filterFn if matches value
        filterValue = filterFns[ filterValue ] || filterValue;
        $container.isotope({ filter: filterValue });
      });

      // bind sort button click
      $('#sorts').on( 'click', 'button', function() {
        var sortByValue = $(this).attr('data-sort-by');
        $container.isotope({ sortBy: sortByValue });
      });
      
      // change is-checked class on buttons
      $('.button-group').each( function( i, buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click', 'button', function() {
          $buttonGroup.find('.is-checked').removeClass('is-checked');
          $( this ).addClass('is-checked');
        });
      });
    });
  </script>
{% endblock %}