{% extends "base.html" %}
{% block title %}建立粉絲專頁列表{% endblock %}
{% block headCSS %}
  <link rel="stylesheet" href="/css/todos.css">
  <style>
  body{background: url(../img/services/bg_services.png) no-repeat}
  </style>
{% endblock %}
{% block contents %}
  <div id="todoapp" style="margin-top:30px;">
    <header>
      <h1>選取要排序的粉絲專頁</h1>
      <input id="new-todo" type="text" placeholder="請填入粉絲專頁的url. ex:https://www.facebook.com/349978828495870">
      <!-- <a class="btn" id="test">假資料</a> -->
    </header>
    <section id='main'>
      <ul id='todo-list'></ul>
      <a class="btn" id="fansCreate">送出結果</a>
    </section>
    <footer>
    </footer>
  </div>
{% endblock %}

{% block headJS %}
  <script src="/js/todos.js"></script>
  <script>
  function foo(){
    if(('#todoapp').height() > 520){
      $('#footer').css('position', 'relative')
    }else{
      $('#footer').css('position', 'absolute')
    }
  }
  </script>
{% endblock %}
