{% extends "base.html" %}
{% block title %}登入頁面{% endblock %}
{% block headCSS %}
  <link rel="stylesheet" href="/css/isotope.css">
  <style>
  .isotope{
    border:none;
  }
  </style>
{% endblock %}
{% block contents %}
  <div class="container">
    <header>
      <h2>粉絲頁排行</h2>
    </header>
    <div id="sorts" class="button-group row">
      <button class="btn" data-sort-by="name">名稱</button>
      <button class="btn" data-sort-by="number">按讚數</button>
      <button class="btn" data-sort-by="up">上升數</button>
    </div>
    <div class="isotope row">
    {% for x in userFansList %}
      <div class="element-item post-transition metal " data-category="post-transition" style="background:#efefef">
        <p class="name">{{x.name}}</p>
        <a href="{{x.link}}">
          <img src="{{x.image}}" style="display: block;font: bold 25px/100px Georgia, Serif;color: #777;background: #fff;border: 5px solid #fff;
    height: 100px;width: 100px;margin: 10px auto -65px;-moz-border-radius: 150px;-webkit-border-radius: 150px;border-radius: 100px;-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;-moz-box-shadow: 13px 0 10px -10px rgba(0, 0, 0, .15), -13px 0 10px -10px rgba(0, 0, 0, .15);-webkit-box-shadow: 13px 0 10px -10px rgba(0, 0, 0, .15), -13px 0 10px -10px rgba(0, 0, 0, .15);box-shadow: 13px 0 10px -10px rgba(0, 0, 0, .15), -13px 0 10px -10px rgba(0, 0, 0, .15);position:relative;top:60px" />
        </a>
        <p class="number">{{x.likes}}</p>
        <p class="up">{{x.likes}}</p>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
{% block headJS %}
  <script src="http://isotope.metafizzy.co/isotope.pkgd.min.js"></script>
  <script>
    $( function() {
      // init Isotope
      var $container = $('.isotope').isotope({
        sortAscending : false,
        itemSelector: '.element-item',
        layoutMode: 'fitRows',
        getSortData: {
          name: '.name',
          symbol: '.symbol',
          number: '.number parseInt',
          category: '[data-category]',
          weight: function( itemElem ) {
            var weight = $( itemElem ).find('.weight').text();
            return parseFloat( weight.replace( /[\(\)]/g, '') );
          }
        }
      });

      // filter functions
      var filterFns = {
        // show if number is greater than 50
        numberGreaterThan50: function() {
          var number = $(this).find('.number').text();
          return parseInt( number, 10 ) > 50;
        },
        numberGreaterThan51: function() {
          var number1 = $(this).find('.up').text();
          return parseInt( number1, 10 ) > 50;
        },
        // show if name ends with -ium
        ium: function() {
          var name = $(this).find('.name').text();
          return name.match( /ium$/ );
        }
      };

      // bind filter button click
      $('#filters').on( 'click', 'button', function() {
        var filterValue = $( this ).attr('data-filter');
        // use filterFn if matches value
        filterValue = filterFns[ filterValue ] || filterValue;
        $container.isotope({ filter: filterValue });
      });

      // bind sort button click
      $('#sorts').on( 'click', 'button', function() {
        var sortByValue = $(this).attr('data-sort-by');
        $container.isotope({ sortBy: sortByValue });
      });

      // change is-checked class on buttons
      $('.button-group').each( function( i, buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click', 'button', function() {
          $buttonGroup.find('.is-checked').removeClass('is-checked');
          $( this ).addClass('is-checked');
        });
      });
      if($('.isotope').height()>550){foo()}
    });
  </script>
{% endblock %}
